
.Menubar {
    align-items: center;
    background: $clr-purple-dk;
    background-image: $gradient-purple;
    border-bottom: 3px solid transparent;
    border-image: $gradient-colorful 100 100 stretch;
    box-shadow: 0 0 21px transparentize($clr-black, 0.75);
    color: $clr-gray-95;
    display: flex;
    padding: 0.25em 1.0em;
}
