
.Viewer {
    bottom: 0;
    clear: both;
    flex-wrap: wrap;
    left: 0;
    overflow-y: auto;
    //padding: 1.0em;
    position: absolute;
    right: 0;
    top: 0;

    .SymbolViewer {
        float: left;
        margin: 1.0em;
    }

    .SymbolViewer + .SymbolViewer {
        margin-left: 0;
    }
}
