body,
html,
.App,
.ReactApp {
    height: 100%;
    overflow: hidden;
}

.App {
    background-color: $clr-white;
    display: flex;
    flex-direction: column;

    .Menubar {
        height: 32px;
        width: 100%;
    }

    .Content {
        display: flex;
        flex: 1;
        flex-direction: row;
        position: relative;
    }
}
